.header {
    width: 100%;
    height: 39px;
    background-color: #7E2B53;
    background-image: -moz-linear-gradient(top, #8C375F, #691941);
    background-image: -ms-linear-gradient(top, #8C375F, #691941);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8C375F), to(#691941));
    background-image: -webkit-linear-gradient(top, #8C375F, #691941);
    background-image: -o-linear-gradient(top, #8C375F, #691941);
    background-image: linear-gradient(top, #8C375F, #691941);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8c375f', endColorstr='#691941', GradientType=0);
    border-bottom: 1px solid #8C375F;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.8);
}

.mobile_logo {
    display:block;
    margin: 0 auto;
}

.centre {
    text-align: center;
}

.mobile_menu {
    list-style: none;
}

#map_canvas {
    display:block;
    height: 250px;
    width: 250px;
    margin: 0 auto;
}

.progressbar {
    background-color: black;
    border-radius: 13px; /* (height of inner div) /2 + padding */
    padding: 3px;
}

.progressbar div {
    background-color: green;
    width: 0%;
    height: 20px;
    border-radius: 10px;
}

.ui-icon-green-check{
    background: url("../img/green_tick.png") no-repeat rgba(0,0,0,0.4) !important;
}

.ui-icon-red-cross{
    background: url("../img/red_cross.png") no-repeat rgba(0,0,0,0.4) !important;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    .ui-icon-green-check {
        background-image: url("../img/green_tick-highres.png");
        background-size: 18px 18px;
    }

    .ui-icon-red-cross {
        background-image: url("../img/red_cross-highres.png");
        background-size: 18px 18px;
    }

}

.no_polyphenols {
    color: black;
}

.low_polyphenols {
    color: red;
}

.medium_polyphenols {
    color : orange;
}

.high_polyphenols {
    color: green;
}

.validation_error {
    color: red;
}

.hidden {
    display: none;
}

